.paginate {
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-style: italic;
    font-size: 21px;
    margin-top: 35px;
}


.paginate a {
    text-decoration: none;
    color: black;
    font-size: 19px;
    padding-left: 15px;
    padding-right: 15px;
}

.paginate a:hover {
    color: darkseagreen;
}

.paginate li:hover {
    background-color:rgba(0,0,0,0.13) ;
}
ul{
    padding: 0 !important;
}

.next {
    border: none;
    border-radius: 12px;
    margin-left: 6px;
    /*background-color: #dbdbdb;*/
}

.previous {
    border: none;
    border-radius: 12px;
    margin-right: 6px;
    /*background-color: #dbdbdb;*/
}

li {
    border-radius : 17px;
    list-style-type: none;
    border: 2px solid rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    text-align: center;
}

.active-pag {
    background-color:rgba(143,188,143,0.8)!important;
}

@media (min-width: 0) and (max-width: 767px) {

    li {
        margin-right: 2px;
       border-radius: 6px;
        padding-right: 5px;
    }

    .paginate a {
        font-size: 12px;
        padding-left: 5px;
        padding-right: 5px;
    }
}
