.logo-teams-table {
    height: 38px;
    width: 38px;
}

.logo-teams {
    height: 50px;
    width: 50px;
}

.home-tittle {
    font-size: 26px;
    cursor: default;
    border-bottom: solid 1px #dbdbdb;
    font-family: 'Quicksand', sans-serif;
    font-style: italic;
}


.home-tittle:hover {
    opacity: 0.7;
}

.home-tittle::first-letter {
    color: darkseagreen;
}




@media (min-width: 0) and (max-width: 400px) {
    .logo-teams-table {
        height: 28px;
        width: 28px;
    }

    .home-tittle {
        font-size: 22px;
    }
}

