.logo-teams-table{
    height: 38px;
    width: 38px;
    /*border-radius:25px;*/
}
.logo-teams{
    height: 50px;
    width: 50px;
    /*border-radius:25px;*/
}

.teams-tittle{
    font-size: xx-large;
    cursor: default;
    border-bottom: solid 1px #dbdbdb;
}
.teams-tittle:hover{
    opacity: 0.7;
}
.teams-tittle::first-letter{
    color: chocolate;
}
.logo-table:first-letter{
    color: white;
}
.two-logo-table{
    color: white;
  }

