.utc-date {
    font-weight: normal;
}

.picker {
    margin-bottom:20px;
    /*font-family: Quicksand sans-serif;*/
}
input{
    background-color: rgba(0,0,0,0.1);
    border-radius: 8px;
    cursor: pointer;
    padding-left: 15px;
    border: 1px solid rgba(0,0,0,0.2);
}


.picker h6 {
    margin-right: 15px;
    margin-left: 15px;
    font-weight: normal;
    font-family: inherit;
}

.game-card {
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 8px;
}

.score {
    font-weight: lighter;
}

@media (min-width: 0) and (max-width: 575px) {
    .home-tittle {
        font-size: 22px;
    }
}
