.modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_content {
    padding: 20px;
    width: 300px;
    height: 250px;
    background-color: white;
    color: black;
    position: absolute;
    border-radius: 12px;
}
