.Header {
    width: 100%;
    min-height: 70px;
    /*border-bottom: solid 1px #dbdbdb;*/
    border-bottom: solid 1px darkgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: fixed;
    z-index: 50;
    background-color: white;
}

.header-logo {
    width: 120px;
    height: 35px;
}

.header-left {
    margin-top: 4px;
    margin-left: 50px;
}

.header-right {
    display: flex;
    margin-right: 50px;
}

.header-content {
    margin-right: 15px;
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    font-size: 22px;
    font-style: italic;
}

.header-content::first-letter {
    color: darkseagreen;
}

.header-content:hover {
    opacity: 0.7;
    color: black;
}

.material-icons {
    cursor: pointer;
}

.menu-burger-btn {
    width: 25px;
    height: 30px;
    position: absolute;
    cursor: pointer;
    margin-left: -50px;
}

.menu-burger-btn span {
    position: absolute;
    top: 14px;
    width: 25px;
    background-color: black;
    height: 2px;
}

.menu-burger-btn::after {
    content: "";
    position: absolute;
    top: 7px;
    width: 25px;
    background-color: black;
    height: 2px;
}

.menu-burger-btn::before {
    content: "";
    position: absolute;
    bottom: 7px;
    width: 25px;
    background-color: black;
    height: 2px;
}

.menu-burger-btn-active {
    background-color: orangered;
    height: 2px;
    transform: rotate(45deg);
    width: 25px;
    margin-left: -50px;
    transition: all 0.3s;
}


@media (min-width: 0) and (max-width: 575px) {
    .header-logo {
        width: 80px;
        height: 25px;
    }

    .menu-burger {
        margin-right: 30px;
    }

    .header-left {
        margin-top: 4px;
        margin-left: 15px;
    }
}





