.logo-league {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.active-league {
    color: black;
    text-decoration: none;
    font-weight: bolder;
}

.country-league {
    color: black;
    font-weight: bolder;
    cursor: default;
}

.active-league:hover {
    color: darkseagreen;
}

.fade.modal.show {
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-title.h4 {
    font-size: 22px;
}

.popup-content.modal-header {
    font-family: Quicksand, sans-serif;
    display: flex;
    flex-direction: column;
}

.inactive-league {
    color: gray;
    /*pointer-events: none;*/
    text-decoration: none;
}

.inactive-league:hover {
    color: orangered;
}

@media (min-width: 0) and (max-width: 575px) {
    .logo-league {
        height: 35px;
        width: 35px;
    }

    .active-league {
        font-size: 14px;
    }

    .inactive-league {
        font-size: 14px;
    }

    .modal-title {
        font-size: 14px;
    }
}
